{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    {% block fos_user_content %}
        <div class="content_bg">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="content-details">
                    <h3 class="content-details-title"> {{ "Reset password request" | trans }} </h3>
                    <p style="padding-top: 10px"> {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
                </div>
            </div>
        </div>
    {% endblock fos_user_content %}
{%  endblock %}