{% block content %}
    <div class="content_bg">
        <div class="col-lg-8 col-lg-offset-2">
             <div class="content-details">
                 <h3 class="content-details-title"> {{ "Registration" | trans }} </h3>
                 {% include 'TdomUserBundle:User:Partials/register_form.html.twig' %}
             </div>
        </div>
    </div>
{% endblock content %}
