{% if targetUser %}
    <h4> {{ targetUser.nickName }} </h4>
{% else %}
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>oops!</strong> You don't have contacted User to send message or didn't select any user to send message.
    </div>
{% endif %}
<div class="user-message-boards">
    <div id="message_list" {% if userMessages | length > 4 %} style="height:400px; overflow: auto" {% endif %}>
       {% include 'TdomMessageBundle:Socialise:Partials/message_item.html.twig' %}
    </div>
    {# Message form #}
    {% if targetUser %}
        {% include 'TdomMessageBundle:Socialise:Partials/message_form.html.twig' %}
    {% endif %}
</div>