{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %}{{ "My Profile" |trans }} {% endblock title  %}
{%  block message %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for key, message in messages %}
            <div style="margin-bottom: 20px; overflow: hidden" class="col-lg-8 col-lg-offset-2">
                <div class="alert alert-dismissable alert-success flash-{{ type }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{%  endblock %}

{% block content %}
    {% block fos_user_content %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
    {% endblock fos_user_content %}
{%  endblock %}