{% extends "TdomGameBundle::layout.html.twig" %}
{% block title %}Tabledom::Find{% endblock %}
{% block active %} active {% endblock active %}
{% block content %}
    <div class="content_bg">
        <div>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="">
                    <div class="searching-form" id="seaching_form">
                        {% include 'TdomGameBundle:FindGamer:Partials/filter_form.html.twig' %}
                    </div>
                    <div id="map_canvas">

                    </div>
                    <div class="modal" id="user_modal">
                        <div class="modal-dialog  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Modal title</h4>
                                </div>
                                <div class="modal-body nopadding" style="overflow: hidden">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
